!! Fonts

#define textColor 	#FFFFFF
#define highlightColor 	#f2b4a7
#define backgroundColor	#2c123b

URxvt.font:xft:Fantasque Sans Mono:style=Regular:pixelsize=15,\
	xft:FontAwesome5Free:pixelsize=15,\
	xft:FontAwesome5FreeSolid:pixelsize=15,\
	xft:FontAwesome5Brands:pixelsize=15

URxvt.scrollBar: false
URxvt.depth: 32
URxvt.transparent: false
URxvt.shading: 35

URxvt.highlightColor: highlightColor
URxvt.highlightTextColor: highlightColor

URxvt.externalBorder: 0 
URxvt.internalBorder: 20
URxvt.cursorColor: highlightColor
